body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 'header header' 
                        'nav nav' 
                          'section section' 
                          'main main' 
                          'footer footer';
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 35vh 65vh 87vh 30vh 15vh;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/banner.png");
    background-size: cover;
    grid-area: header;
}

header div h1 {
    color: #fffbf8;
    font-family: 'Pacifico', cursive;
    
}

iframe {
    margin: 3px;
}
header div {
    padding: 0 30px;
    color: #fffbf8
}


/* .imagens é a classe q envolve todas as imagens*/

header .imagens {
    display: flex;
    
    justify-content: space-around;
    
}

header .direito img {
    display: none;
}

header .imagens div:nth-child(1) {
    background-color: #35241d;
    border-radius: 39px;
    padding: 4px;
}

header .imagens div:nth-child(2) {
    background-color: #35241d;
    border-radius: 39px;
    padding: 4px;
}

header .imagens div:nth-child(3) {
    background-color: #2dcb6f;
    border-radius: 39px;
    padding: 4px;
}

header p {
    font-size: 20px;
    
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    
}

nav .container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

nav .container div img {
    background-color: #2dcb70;
    border-radius: 50px;
    margin-left: 105px;
    margin-top: 10px;
    padding: 10px;
}

nav .container h3 {
    text-align: center;
}

nav p {
    margin: 0px;
}

section {
    grid-area: section;
    background-color: #e3e3e3;
    margin-top: 20px;
}
section div h2 {
    text-align: center;
    margin-top: 40px;
}
section input[type="email"]{
    border-radius: 5px 0 0 5px;
    height:30px;
    margin-left: 95px;
    border: none;
    
    
}
section input[type="button"]{
    background-color:#2dcc70;
    border:none;
    border-radius: 0 5px 5px 0;
    color:white;
    height: 33px;
   
}
section div iframe{
    align-content: center;
    display: flex;
    height: 230px;
    justify-content: center;
    margin-left: 40px;
    margin-top: 10px;
    width: 80%;
}
section p{
    color: #979797;
   text-align: center;
   padding: 0 20px;
}


section{
    
    background-color: #e7e7e7;
    padding: 10px;
}

section h2{
    font-family: 'roboto';
    color: #313131;
    font-size: 22px;
    text-align: center;
}
section p{
    font-size: 14px;
    font-weight: 100;
    color: #4e4e4e;
    text-align: justify;
    margin: 18px 8px;

}

.email{
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    
}
.caixa{
    border-radius: 8px 0px 0px 8px;
    width: 265px;
    height: 30px;
    border: none;
    margin: 0px 0px 15px 0px;
    

}


.botao{
    background-color: #2dcb70;
    width: 100px;
    height: 32px;
    color: #fefeff;
    border: none;
    border-radius:  0px 8px 8px 0px;
    padding: 1px;
    margin: 0px 0px 15px 0px;
}
       
    

/*responsivo para tablete*/

@media(min-width:600px) {
    body {
        display: grid;
        font-family: 'Roboto', sans-serif;
        grid-template-areas: 'header header' 'nav nav' 'section section' 'main main' 'footer footer';
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 45vh 35vh 80vh 30vh 15vh;
        margin: 0;
        padding: 0;
        grid-template-rows: 35vh 67vh 40vh 30vh 15vh;
    }
    header {background-image: url("../images/banner.png");
    background-size: cover;
        grid-area: header;
    }
    header .hand img {
        height: 150px;
        align-items: flex-end;
        float: right;
    }
    header .imagens div:nth-child(1) {
        background-color: #35241d;
        border-radius: 39px;
        padding: 4px;
}
 header p {
        font-size: 29px;
}
 header .imagens {
        display: flex;
}
  nav .container {
        display: flex;
        flex-direction: row;
        justify-content:
}
 nav .container .ladoesquerdo {
        margin-right: 100px;
}
 nav .container .ladodireito {
        margin-left: 100px;
}
 nav .container p {
        text-align: center;
}
    section{
        grid-area:section;
        
        
    }
    section div:nth-child(2){
         display: flex;
        align-content: center;
        justify-content: center;
       
    }
    section div:nth-child(3){
         display: flex;
        align-content: center;
        justify-content: center;
       
    }


    section p{
    font-size: 14px;
    font-weight: 100;
    color: #4e4e4e;
    
    iframe {
        margin: 3px;
        width: 100;}
}



/*resposivo para desktop*/

@media(min-width:820px) {
    body {
        display: grid;
        font-family: 'Roboto', sans-serif;
        grid-template-areas: 'header header' 'nav nav' 'section section' 'main main' 'footer footer';
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 45vh 35vh 60vh 30vh 15vh;
        margin: 0;
        padding: 0;
    }
    /*deixando o banner divido em 2*/
    .direito {
        grid-area: direito;
        display: flex;
        align-items: flex-end;
    }
    .esquerdo {
        margin-left: 100px
    }
    .esquerdo {
        grid-area: esquerdo;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    header .direito img {
        display: block;
        height: 210px;
        margin-left: 75px;
        width: 40%
    }
    header .imagens{
    
      margin-bottom: 35px;     
    }
    header {
        display: grid;
        grid-template-areas: 'esquerdo direito';
        grid-template-columns: 50% 50%;
    }
 
   
    header p {
        font-size: 22px;
    }
    nav .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav .container .ladoesquerdo {
        margin-right: 150px;
    }
    nav .container .ladodireito {
        margin-left: 150px;
    }
    nav .container p {
        text-align: center;
    }
    
    section{
      display:grid;  
      grid-template-areas: 'lado_esquerdo lado_direito';
      grid-template-columns: 50% 50%;
    }
    
    .lado_esquerdo{
        align-content:flex-start;
        align-items: center;
        grid-area:lado_esquerdo;
        display:flex;
        justify-content: center;
        margin-top: 75px;
        flex-wrap: wrap;
    }
    .lado_direito{
        align-content:flex-start;
        align-items: center;
        grid-area:lado_direito;
        display:flex;
        justify-content: center;

    }
   
    section .lado_direito  iframe{
    align-content: center;
    display: flex;
    height:300px;
    justify-content: center;
    margin-left: 40px;
    margin-top: 10px;
    width: 100%;
}
    
}